<section class="hero is-light">
  <div class="columns ">
    <div class="column is-offset-3 is-2 has-text-centered ">
      <%= link_to "Blog", articles_path, class: "button is-active is-light is-medium is-fullwidth" %>
    </div>
    <div class="column  is-2 has-text-centered">
      <%= link_to "Home", welcome_index_path, class: "button is-light is-medium is-fullwidth" %>
    </div>
    <div class="column is-2 has-text-centered">
      <a class="button is-light is-medium is-fullwidth"><s>Videos</s></a>
    </div>
  </div>
</section>
<br>
<br>
<br>

<label class="checkbox">
  <input type="checkbox">
  Remember me
</label>

  <%= link_to 'New homework', new_article_path, class: "button is-primary is-large" %>
  <br>
<br>

<% @articles.each do |article| %>
  <div class="columns">
    <div class="column is-half">
      <%= render partial: "box", locals: { article: article } %>
    </div>
  </div>
<% end %>
