<style>
  .aboutMe {
    padding-top: 400px;

    margin: 0 auto;
    max-width: 50em;
    font-family: "Helvetica", "Arial", Sans-Serif;
    line-height: 1.5;
    padding: 4em 1em;
    color: #555;
  }
</style>


  <nav class ="tabs is-boxed is-fullwidth">
    <div class="container">
      <ul>
        <li class="is-dark">
          <a href="/welcome/index"><strong>Home</strong></a>
        </li>
        <li>
          <a href="/articles"><strong>Blog</strong></a>
        </li>
        <li>
          <a href="/articles"><strong>Videos</strong></a>
        </li>
      </ul>
    </div>
  </nav>
<br>

<div class="hero-body">
  <div class="container has-text-centered">
    <p class="title">
      Hello stranger!
    </p>
    <p class="subtitle">
      Welcome to my "hail me" page
    </p>
  </div>
</div>


<div class="aboutMe">
  <p style="float: left; margin-right: 1em; position: relative; top: 7px;"><img src="/images/round_profile_face.png" height="200px" width="200px"></p>
  <p>
    My name is Yarik. One day I would like to destroy most of the human population with putting "Disorder" by <strong>Joy Division</strong> on every speaker possible.
    What to eat on breakfast is my everyday struggle. To solve this problem I decided to acquire citizenship of USA for travelling purposes and study as many breakfasts on Earth as possible.
    If you're <s>entellegant</s> <s>intallegent</s> <strong>intelligent</strong>, <strong>attractive</strong>  and <strong>young</strong>  enough american female please merry me ASAP. Also
    clueless kids come to me and pay money to learn guitar. Playing musical instruments is essence of happiness, thicc bass is bless, though radio music puts me in self-harm mode.
  </p>
</div>

<div align="center">
  <iframe width="640" height="480"  allowfullscreen
          src="https://youtube.com/embed/vwo81KDA3jA">
  </iframe>
</div>

<br>

<footer class="footer">
  <div class="container">
    <div class="tile is-ancestor">
      <div class="tile is-5 is-vertical is-parent">
        <div class="tile is-child notification">
          <p class="title is-5">Contact me</p>
          <a href="https://vk.com/hz_kto_eto"><i class="fa fa-vk fa-2x" aria-hidden="true"></i></a> <a href="https://github.com/Bylbanos"><i class="fa fa-github fa-2x" aria-hidden="true"></i></a>    <a href="https://www.facebook.com/jaroslav.kovshovik"> <i class="fa fa-facebook fa-2x" aria-hidden="true"></i></a>      <a href="https://www.instagram.com/bylbanos/?hl=ru"><i class="fa fa-camera-retro fa-2x " aria-hidden="true"></i></a> </p>
        </div>
        <div class="tile is-child notification">
          <p class="title is-5">Contact him</p>
          <p>Deeply inspired by my brother, that happens to be a professional code magician. Check out his page and give him some love <a href="https://shovik.com/">shovik.com</a> </p>
        </div>
      </div>
      <div class="tile is-parent">
        <div class="tile is-child notification">
          <p class="title is-5">Mission</p>
          <p>Continuous self-improvement as a way of life. I've challenged myself to become a web-developer. This is my first dive into Ruby on Rails and <a href="https://bulma.io/">Bulma CSS framework</a> </p>
          <br>
          <p>Music is a love of mine. I got a few videos of me performing on my <a href="https://www.youtube.com/channel/UCC1KCCRShgmK0adKZRRKpoQ?view_as=subscriber?&ab_channel=%D0%AF%D1%80%D0%BE%D1%81%D0%BB%D0%B0%D0%B2%D0%9A%D0%BE%D0%B2%D1%88%D0%BE%D0%B2%D0%B8%D0%BA">Youtube channel</a>. Any likes are highly appreciated :)</p>
          <br>
          <p>Listening to the wind while pedaling my ass off is a great way to spend time! If you think so too and you're in SLC area don't hesitate and contact <a href="https://www.facebook.com/jaroslav.kovshovik">me!</a> </p>
        </div>
      </div>
    </div>
    </div>
</footer>






