<section class="hero is-light">
  <div class="columns ">
    <div class="column is-offset-3 is-2 has-text-centered ">
      <a class="button is-light is-medium is-fullwidth "><s>Blog</s></a>
    </div>
    <div class="column  is-2 has-text-centered">
      <a class="button is-active is-white is-medium is-fullwidth"  href="https://ja.shovik.com/" >Home</a>
    </div>
    <div class="column is-2 has-text-centered">
      <a class="button is-light is-medium is-fullwidth"><s>Videos</s></a>
    </div>
  </div>
</section>

<section class="hero-body">
  <div class="columns">
    <div class="column is-offset-2 is-8">
      <article class="media">
        <figure class="media-left">
          <p>
            <img src="/images/round_profile_face.png" height="150px" width="150px">
          </p>
        </figure>
        <div class="media-content">
          <div class="content">
            <p>
              My name is Yarik. One day I would like to destroy most of the human population with putting "Disorder" by <strong>Joy Division</strong> on every speaker possible.
              What to eat on breakfast is my everyday struggle. To solve this problem I decided to acquire citizenship of USA for travelling purposes and study as many breakfasts on Earth as possible.
              If you're <s>entellegant</s> <s>intallegent</s> <strong>intelligent</strong>, <strong>attractive</strong>  and <strong>young</strong>  enough american female please merry me ASAP. Also
              clueless kids come to me and pay money to learn guitar. Playing musical instruments is essence of happiness, thicc bass is bless, though radio music puts me in self-harm mode.
            </p>
          </div>
        </div>
      </article>
    </div>
  </div>
</section>

<section class="hero is-light">
  <div class="hero-body">
    <div class="columns">
      <div class="column is-offset-2 is-8">
        <article class="media">

          <div class="media-content">
            <div class="content">
              <p class="title is-5">Mission</p>
              <p>
                &#8226; Music is a love of mine. I got a few videos of me performing on my <a href="https://www.youtube.com/channel/UCC1KCCRShgmK0adKZRRKpoQ?view_as=subscriber?&ab_channel=%D0%AF%D1%80%D0%BE%D1%81%D0%BB%D0%B0%D0%B2%D0%9A%D0%BE%D0%B2%D1%88%D0%BE%D0%B2%D0%B8%D0%BA"><strong>Youtube channel</strong></a>. Any likes are highly appreciated :) Aaand here's an example of me doing it:
              </p>
              <p>&#8226; Continuous self-improvement as a way of life. I've challenged myself to become a web-developer. This is my first dive into Ruby on Rails and <a href="https://bulma.io/"><strong>Bulma CSS framework</strong></a> </p>
              <p>&#8226; Listening to the wind while pedaling my ass off is a great way to spend time! If you think so too and you're in SLC area don't hesitate and contact <a href="https://www.facebook.com/jaroslav.kovshovik"><strong>me!</strong></a> </p>
            </div>
          </div>
          <figure class="media-right">
            <iframe width="400" height="300"  allowfullscreen
                    src="https://youtube.com/embed/vwo81KDA3jA">
            </iframe>
          </figure>
        </article>
      </div>
    </div>
  </div>
</section>

<section class="hero">
  <div class="hero-body">
    <div class="columns">
      <div class="column is-offset-2 is-8">
        <p><strong>Please notice!</strong> This page is still in construction. I highly appreciate any suggestions on how to improve it! Yes, feel free to tell me how good this site is in scale from one 'lil poop to pile of chocolate chip cookies :) </p>
      </div>
    </div>
  </div>
</section>

<section class="hero is-light">
  <div class="hero-body">
  <div class="columns">
    <div class="column">
      <div class="content has-text-centered">
        <p>Deeply inspired by my brother, that happens to be a professional code magician. Check out his page and give him some love: <a href="https://shovik.com/"><strong>shovik.com</strong></a> </p>
      </div>
    </div>
    <div class="column has-text-centered i">
      <p>Contact me:</p>
       <a href="https://vk.com/hz_kto_eto"><i class="fa fa-vk fa-2x has-text-dark" aria-hidden="true"></i></a> <a href="https://github.com/Bylbanos"><i class="fa fa-github fa-2x has-text-dark" aria-hidden="true"></i></a><a href="https://www.facebook.com/jaroslav.kovshovik"> <i class="fa fa-facebook fa-2x has-text-dark" aria-hidden="true"></i></a>  <a href="https://www.instagram.com/bylbanos/?hl=ru"><i class="fa fa-camera-retro fa-2x has-text-dark" aria-hidden="true"></i></a>
    </div>
    <div class="column has-text-centered">
      <p><s>Proudly</s></p>
      <a href="https://bulma.io">
        <img src="https://bulma.io/images/made-with-bulma.png" alt="Made with Bulma" width="256" height="48">
      </a>

    </div>
  </div>
  </div>
</section>





