<section class="hero is-primary is-bold is-fullheight">
  <div class="hero-body">
    <div class="container">
      <h1 class="title has-text-centered is-1">
        <a href="/Eric-Kovshovik-Resume.pdf">Eric Kovshovik</a>
      </h1>
      <h2 class="subtitle has-text-centered">
        QA Automation Engineer
      </h2>
    </div>
  </div>
</section>
